importFrom(FNN, get.knn, get.knnx)
importFrom("stats", "median", "optim", "sd", "optimize", "pt", "cor")
importFrom(dplyr, "summarise_if", "%>%","funs")
importFrom(optimParallel, "optimParallel")
importFrom(parallel, makeCluster, detectCores, stopCluster, setDefaultCluster)
import(sp)
import(spData)
export(scgwr)
export(scgwr_p)
export(predict0)
S3method("print","scgwr")
S3method("print","scgwr_p")

